{% extends 'base_templates.html' %}
{% load static %}
{% block content %}
    <style>
        
        @import url(https://fonts.googleapis.com/css?family=Roboto:300);

        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }
        .form {
            position: center;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .form input {
            font-family: "Roboto Bold", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
        .form button {
            font-family: "Roboto Bold", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: black;
            width: 100%;
            border: 0;
            padding: 10px;
            color: white;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }
        .form button:hover,.form button:active,.form button:focus {
         background: #1f40cb;
        }
        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }
        .form .message a {
            color: #4CAF50;
            text-decoration: none;
        }
        .form .register-form {
            display: none;
        }
        
        body {
            background: white;
            font-family: "Roboto Bold", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;      
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $( function() {
          $( "#datepicker" ).datepicker();
        } );
    </script>

</head>
<body>
    <div class="container" style="width: 100%; padding: 30px;">
        <form method="POST">
            <div class="form" id="ManagerSection">
                <h4 class="mt-1 mb-5 pb-1 font-weight-bold">Register Manager</h4>
                <div class="form-outline mb-4">
                    <input id="ManagerFNameInput" name="ManagerFNameInput" type="text" 
                    placeholder="Nama Depan" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="ManagerLNameInput" name="ManagerLNameInput" type="text"
                    placeholder="Nama Belakang" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="ManagerNoHPInput" name="ManagerNoHPInput" type="tel" 
                    placeholder="No HP" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="ManagerAlamatInput" name="ManagerAlamatInput" type="text"
                    placeholder="Alamat" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Pilih Status</option>
                        <option value="1">Mahasiswa</option>
                        <option value="2">Dosen</option>
                        <option value="3">Tendik</option>
                        <option value="4">Alumni</option>
                        <option value="5">Umum</option>
                    </select>
                </div>
    
                <div class="form-outline mb-4">
                    <input id="ManagerUsernameInput" name="ManagerNamaRestoInput" type="text" 
                    placeholder="Nama Manager" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="ManagerPasswordInput" name="ManagerPasswordInput" type="password" 
                    placeholder="Password" class="form-control" /> 
                </div>
                {% if lolos %}
                <p class="text-danger"> Harap isi semua form! </p> 
                {% endif %}
                <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-dark btn-block fa-lg gradient-custom-2 mb-3"
                    id="ManagerButton" type="submit" value="Register" > DAFTAR</button>
                </div>
            </div>
        
        </form>
      </div>

{% endblock %}