{% extends 'base_templates.html' %}
{% load static %}


{% block content %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:300);

        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 20 0 0px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
        .form button {
            font-family: "Roboto Bold", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: black;
            width: 50%;
            border: 0;
            padding: 5px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }
        .form button:hover,.form button:active,.form button:focus {
         background: #1f40cb;
         color: #FFFFFF;
        }
        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }
        .form .message a {
            color: #00a2ed;
            text-decoration: none;
        }
        .form .register-form {
            display: none;
        }
        .container {
            position: relative;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }
        .container:before, .container:after {
            content: "";
            display: block;
            clear: both;
        }
        .container .info {
            margin: 50px auto;
            text-align: center;
        }
        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }
        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }
        .container .info span a {
            color: #000000;
            text-decoration: none;
        }
        .container .info span .fa {
            color: #EF3B3A;
        }
        body {
            background: white;
            font-family: "Roboto Bold", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;      
        }
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <div class="text-center">
                <h4 class="mt-1 mb-5 pb-1 font-weight-bold">Jenis Akun</h4>
            </div>
            <form method="POST">
            
                <div class="form-outline mb-4">
                    <select class="form-select btn btn-dark btn-block fa-lg mb-3" aria-label="Default select example" id="jenisAkunSelect" name="role1" style = "padding: 10px;">
                        <option value="manager">Manager</option>
                        <option value="panitia">Panitia</option>
                        <option value="penonton">Penonton</option>
                    </select>
            
                </div>
            
                <div class="text-center pt-1 mb-5 pb-1">
                    <a>
                        <button class="btn btn-sm" id="jenisAkunButton" 
                        type="button" onclick="chooseRole()">Pilih</button>
                    </a>
                    <p class="message">Sudah punya akun?<a href="/login/"> Login</a></p>
                </div>

                </form>
        </div>
      </div>

<script>
    


    function chooseRole() {
        var pilihakun = document.getElementById("jenisAkunSelect").value
        if (pilihakun == "panitia") {
            window.location.href = "register-panitia"
        } else if (pilihakun == "manager") {
            window.location.href = "register-manager"
        } else if (pilihakun == "penonton") {
            window.location.href = "register-penonton"

        } 
    }


</script>
{% endblock%}
