<!DOCTYPE html>
{% extends "penonton_templates.html" %}
<html>
    {% block content %}
  <head>
    <title>Beli Tiket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        .container {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 20px;
      border-radius: 10px;
    }
    </style>
  </head>
  <body>
    <div class="p-3 mt-3 ml-2 mb-0 text-dark" style="text-align: center">
        <h3 class="fw"> Beli Tiket </h3>
    </div> 
    <div class="px-5 mt-0 carousel-inner">
    <div class="container">
    <form action="pembelian.html" method="get">
      <label for="tiket">Jenis Tiket:</label>
      <select id="stadium" name="stadium">
        <option value="VIP">VIP</option>
        <option value="Main East">Main East</option>
        <option value="Kategori 1">Kategori 1</option>
        <option value="Kategori 2">Kategori 2</option>
      </select>
      <br>
      <label for="pembayaran">Pembayaran:</label>
      <select id="stadium" name="stadium">
        <option value="Paypal">Paypal</option>
        <option value="Rekening">Rekening</option>
        <option value="Kategori 2">Kategori 2</option>
      </select>
      
      <br>
      <p style="text-align: center">
        <a class="btn btn-dark m-3" role="button" 
          style="font-size: 17px; border-radius: 20px; width:12rem; color:white">Submit</a>
      </p>
    </form>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
  {% endblock content %}
</html>
