<!doctype html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
  </style>
</head>

<body>
    <div class="p-5 mb-1 text-light" style="background: #051c2c">
        <h1 class="fw"> Kelola Pertandingan </h1>
    </div> 

    <div class="p-3 mt-5 ml-0 mb-0 text-dark" style="text-align: center">
        <h4 class="fw" style="font-size: 32px"> INI AKHIR MUSIM! </h3>
    </div> 

    <div class="p-2 mt-0 ml-0 mb-1 text-dark" style="text-align: center">
        <h4 class="fw" style="font-size: 16px"> KLIK TOMBOL NEXT UNTUK MEMBUAT PERTANDINGAN BARU </h3>
    </div> 

    <p style="text-align: center">
      <a class="btn btn-dark m-3" role="button" 
        style="font-size: 17px; border-radius: 20px; width:15rem">Next</a>
    </p>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>