{% include 'manager_templates.html' %}
{% load static %}
<!doctype html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
  </head>
  <body>
    
    <style>
        .container {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 20px;
      border-radius: 10px;
    }
    </style>
<div class="container">
    <h2>List Waktu Stadium</h2>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="stadiumSelect">Stadium:</label>
          <select class="form-control" id="stadiumSelect">
            <option>Stadium A</option>
            <option>Stadium B</option>
            <option>Stadium C</option>
            <!-- Add other available stadium options -->
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="tanggalInput">Waktu:</label>
          <input type="date" class="form-control" id="tanggalInput">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Pesan</button>
    </form>
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"></script>
  </body>

  </html>
