{% include 'manager_templates.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>List Waktu Stadium</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <style>
        .container {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 20px;
      border-radius: 10px;
    }
    </style>
<div class="container">
    <div class="container">
    <h2>List Waktu Stadium </h2>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="stadiumSelect">Nama Stadium:</label>
          <select class="form-control" id="stadiumSelect">
            <option>Stadium A</option>
            <option>Stadium B</option>
            <option>Stadium C</option>
            <!-- Add other available stadium options -->
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="tanggalInput">List Waktu:</label>
          <input type="date" class="form-control" id="tanggalInput">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Pesan</button>
    </form>
    </div>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
