{% include 'manager_templates.html' %}
{% load static %}

{% block content %}
    <style>
        p {
            text-align: center;
        }

        h2 {
            font-size: 12px;
            font-weight: bold;
            color: black;
        }
        
        label{
            font-size: 12px;
            font-weight: bold;
            color: black;
        }

        .card{
            border-radius: 10px;
            height: auto;
            width: auto;
        }
        
        .a{
            font-size: 30px;
            font-weight: bold;
            color: black;
            text-align: center;
        }

        .b{
            font-size: 20px;
            font-weight: bold;
            color: black;
            text-align: center;
        }

        .action {
          font-size: 14px; 
          border-radius: 15px; 
          width:8rem;
        }

        .lowbutton {
          font-size: 17px; 
          border-radius: 18px; 
          width:18rem;
        }

        
    </style>

</head>
<body>
    <h1 class="a" >Tim</h1>
    <div class="container" style="padding: 10px;">
      <div class="p-3 mt-3 ml-2 mb-0 text-dark" style="text-align: center">
        <h4 class="b"> Pemain </h4>
      </div> 

    <div class="p-2 mt-0 mb-2 text-light" style="font-size: 15px">
        <table class="table table-striped table-bordered" >
            <thead class="thead-dark" style="background: #051c2c">
              <tr>
                <th scope="col">Nama Pemain</th>
                <th scope="col">No HP</th>
                <th scope="col">Tanggal Lahir</th>
                <th scope="col">Is Captain</th>
                <th scope="col">Posisi</th>
                <th scope="col">NPM</th>
                <th scope="col">Jenjang</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="text-light">
              {% for pemain in pemain_list %}
              <tr>
                <td>{{pemain.1}}</td>
                <td>{{pemain.2}}</td>
                <td>{{pemain.3}}</td>
                <td>{{pemain.4}}</td>
                <td>{{pemain.5}}</td>
                <td>{{pemain.6}}</td>
                <td>{{pemain.7}}</td>
                <td>   
                    <p style="text-align: center">
                        <a class="btn text-light m-0 action" role="button" style="background: #1f40cb">
                          Make 
                          Captain</a>
                    </p>
                    <p style="text-align: center">
                        <a class="btn btn-danger text-light m-0 action" role="button">
                          Delete</a>
                    </p>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

    <div class="p-3 mt-3 ml-2 mb-0 text-dark" style="text-align: center">
      <h4 class="b"> Pelatih </h4>
    </div> 

    <div class="p-2 mt-0 mb-2 text-dark" style="font-size: 15px">
        <table class="table table-striped table-bordered" >
            <thead class="thead-dark text-light" style="background: #051c2c">
              <tr>
                <th scope="col">Nama Pelatih</th>
                <th scope="col">No HP</th>
                <th scope="col">Email</th>
                <th scope="col">Alamat</th>
                <th scope="col">Spesialisasi</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="text-light">
              {% for pelatih in pelatih_list %}
              <tr>
                <td>{{pelatih.1}}</td>
                <td>{{pelatih.2}}</td>
                <td>{{pelatih.3}}</td>
                <td>{{pelatih.4}}</td>
                <td>{{pelatih.5}}</td>
                <td> 
                  <p style="text-align: center">
                    <a class="btn btn-danger text-light m-0 action" role="button">
                      Delete</a>
                  </p>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    
    <p style="text-align: center" class="mb-5">
      <a href="{% url 'manager:show_addpemain' %}"
        class="btn btn-dark m-4 lowbutton" 
        style="color: white" role="button">Tambahkan Pemain</a>
      <a href="{% url 'manager:show_addpelatih' %}"
        class="btn btn-dark m-4 lowbutton" role="button" 
        style="color: white">Tambahkan Pelatih</a>
    </p>
    </div>

    {% endblock %}