{% include 'manager_templates.html' %}
{% load static %}


{% block content %}
    <style>
        p {
            text-align: center;
        }

        h2 {
            font-size: 12px;
            font-weight: bold;
            color: black;
        }
        
        label{
            font-size: 12px;
            font-weight: bold;
            color: black;
        }

        .card{
            border-radius: 10px;
            height: auto;
            width: auto;
        }
        
        .a{
            font-size: 30px;
            font-weight: bold;
            color: black;
            text-align: center;
        }

        
    </style>

</head>
<body>
    <h1 class="a" >Form Registrasi</h1>
    <div class="container mr-2" style="align-items: center;">
        {% for message in messages %}
          <div class="alert alert-danger alert-dismissable fade show w-75" role="alert" 
          style="margin-top: 3rem">
            {{ message }}
            <a type="button" class="close" data-dismiss="alert" aria-label="Close"
            style="color: darkred" role="button">&times;</a>
          </div>
        {% endfor %}
        </div>
    <div class="container" style="padding: 20px;">
      <div class="p-5 mt-2 mb-2 text-dark">
        <form method="POST" id="teamForm">
          {% csrf_token %}
          <table>
            <tr>
                <p class="title-input mt-0 mb-1 ml-3 fw-bold" style="font-size: 15px; text-align:left"> ⚽ Nama Tim </p>
                <input style="font-size: 15px" 
                type="text" name="team_name" 
                placeholder="Nama Tim" 
                id="team_name" class="form-control">
            </tr>
            <tr>
                <p class="title-input mt-4 mb-1 ml-3 fw-bold" style="font-size: 15px; text-align:left"> 🏫 Nama Universitas  </p>
                <input style="font-size: 15px" type="text" 
                name="uni_name" placeholder="Nama Universitas" 
                id="uni_name" class="form-control">
            </tr>
          </table> 
          <p style="text-align: center">
            <button type="submit" class="btn btn-dark m-3 lowbutton" role="button"
              style="background: #051c2c; color:white"> Daftar </button>
          </p>
      </form>
      </div>
      
      <!-- <p style="text-align: center">
        <a href="{% url 'manager:show_teamdetail' %}" class="btn btn-dark m-3" role="button" 
          style="font-size: 17px; border-radius: 20px; color:white; width:15rem">Daftar</a>
      </p> -->
    </div>

    {% endblock %}