{% include 'panitia_templates.html' %}
{% load static %}

{% block content %}
    <style>
      p {
          text-align: center;
      }
      
      label{
          font-size: 12px;
          font-weight: bold;
          color: black;
      }

      .lowbutton {
        font-size: 17px; 
        border-radius: 18px; 
        width:18rem;
      }

      .a{
            font-size: 30px;
            font-weight: bold;
            color: black;
            text-align: center;
        }

        .lowbutton {
        font-size: 17px; 
        border-radius: 18px; 
        width:18rem;
      }

      
  </style>
</head>

<body>
    <h2 class="a"> Pembuatan Pertandingan </h1>

    <div class="p-5 mt-2 mb-2 text-dark">
        <form method="POST" id="addPertandinganForm">
            {% csrf_token %}
            <table>
                <tr>
                    <p class="title-input mt-0 mb-1 ml-3 fw-bold" style="font-size: 15px; text-align:left"> Stadium </p>
                </tr>
                <tr>
                    <div class="form-floating">
                        <select class="form-select form-control" name="pemain" id="addPertandingan"
                            aria-label="Default select example"
                            style="padding-top: 1rem; padding-bottom: 0rem;font-size:13px; height: 3.5rem; line-height: 1.5;">
                            <option disabled selected>--- Stadium-stadium yang tersedia ---</option>
                            <option value="Stadium Gelora Bung Karno"> Stadium Gelora Bung Karno </option>
                            <option value="Stadium Senayan"> Stadium Senayan </option>
                            <option value="..."> ... </option>
                        </select>
                    </div>
                </tr>
                <tr>
                    <label class="title-input mt-3 mb-1 ml-3 fw-bold" 
                        style="font-size: 15px; height: auto; text-align:left;"
                        for="tanggal">Tanggal:   </label>
                    <input style="background:white; border-color: black; margin: 10px;"
                        type="date" id="tanggal" name="tanggal">
                </tr>
            </table>
        </form>
    </div>

    <p style="text-align: center">
        <a href="{% url 'panitia:show_buatpertandingan' %}"
            class="btn btn-dark m-3 lowbutton" 
            role="button"  style="color:white"> Next</a>
    </p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

{% endblock %}