{% include "panitia_templates.html" %}
{% load static %}

{% block content %}
  <style>
    .buttonSubmit{
      text-align: center;
      margin-bottom: 5px;
      text-decoration: none;
    } 
  </style>
  
</head>
<body>
  <div class="px-5 mt-0 mb-0 mx-5 text-dark" style="font-size: 30px; font-weight: bold">
    
    <table class="table table-striped table-bordered">
      <thead class="thead-dark text-light" style="background: #051c2c">
        <div class="p-3 mt-3 ml-2 mb-0 text-dark" style="text-align: center">
          <h3 class="fw"> Pilih Peristiwa Tim AC Milan </h3>
        </div> 
        <tr>
          <th>Tim 1</th>
          <th>Tim 2</th>
          <th>Peristiwa</th>
        </tr>
      </thead>
      <tbody class="text-light">
        <tr>
          <td>Chelsea</td>
          <td>Barcelona</td>
          <td><a href="{% url 'panitia:pilih_peristiwa' %}" class="btn text-light p-1" role="button" 
            style="font-size: 14px; border-radius: 14px; width:15rem; background: #1f40cb">
            Masukkan Peristiwa Tim 1</a>
          <a href="{% url 'panitia:pilih_peristiwa' %}" class="btn text-light p-1" role="button" 
            style="font-size: 14px; border-radius: 14px; width:15rem; background: #1f40cb">
            Masukkan Peristiwa Tim 2</a></td>
        </tr>     
      </tbody>
    </table>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="buttonSubmit" style="text-align: center">
        <a class="btn btn-dark m-3" role="button" 
          style="font-size: 17px; border-radius: 20px; width:12rem; color:white">Submit</a>
    </div>
  </div>
{% endblock %}

